---
import Layout from '../layouts/Layout.astro';
import AssetHistory from '../assets/history.svg';
import IconMicrophone from '../assets/icons/microphone.svg';
import IconNews from '../assets/icons/news.svg';
import IconNotes from '../assets/icons/notes.svg';
import IconYoutube from '../assets/icons/youtube.svg';

import {getUniqueArticles} from '../data/forem';
import {getPages} from '../data/markdown';
import {getVideos} from '../data/youtube';
import {getEpisodes} from '../data/podcast';
import {getNews} from '../data/revue';

interface HistoryRecord {
  type: 'article' | 'video' | 'podcast' | 'news';
  title: string;
  description: string;
  url: string;
  publishedAt: Date;
}

const [articles, pages, videos, episodes, news] = await Promise.all([
  getUniqueArticles(),
  getPages(),
  getVideos(),
  getEpisodes(),
  getNews(),
]);

const records: HistoryRecord[] = [];

articles.forEach((article) =>
  records.push({
    type: 'article',
    title: article.title,
    description: article.description,
    url: article.url,
    publishedAt: new Date(article.published_at),
  }),
);

pages.forEach((page) =>
  records.push({
    type: 'article',
    title: page.title,
    description: page.description,
    url: page.url,
    publishedAt: new Date(page.published_at),
  }),
);

videos.forEach((video) =>
  records.push({
    type: 'video',
    title: video.title,
    description: video.description,
    publishedAt: new Date(video.publishedAt),
    url: video.url,
  }),
);

episodes.forEach((episode) =>
  records.push({
    type: 'podcast',
    title: episode.title,
    description: episode.description,
    publishedAt: new Date(episode.pubDate),
    url: episode.link,
  }),
);

news.forEach((issue) =>
  records.push({
    type: 'news',
    title: issue.title,
    description: issue.description,
    publishedAt: new Date(issue.publishedAt),
    url: issue.url,
  }),
);

records.sort((a, b) => b.publishedAt.valueOf() - a.publishedAt.valueOf());

const icon: {[key in HistoryRecord['type']]: string} = {
  article: IconNotes,
  video: IconYoutube,
  podcast: IconMicrophone,
  news: IconNews,
};
---

<Layout title="Publish history | Sergey Sova">
  <main>
    <img src={AssetHistory} class="title-image" />
    <div class="space-y-5">
      {
        records.map((record) => (
          <a class="record" href={record.url} rel="noopener">
            <div class="text-2xl px-4 flex space-x-2">
              <img src={icon[record.type]} class="w-5 inline-block" />
              <span>{record.title}</span>
            </div>
            <span class="text-sm pr-4 pl-12">{record.publishedAt.toLocaleString('en-US')}</span>
            <p class="pr-4 pl-12">{record.description}</p>
          </a>
        ))
      }
    </div>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1em;
    max-width: 70ch;
    @apply flex flex-col gap-10;
  }

  .title-image {
    @apply max-h-14 my-2;
  }

  @media (min-width: 560px) {
    .title-image {
      @apply max-h-20 my-3 mr-6;
    }
  }

  @media (min-width: 960px) {
    .title-image {
      @apply max-h-24 my-4 -ml-20;
    }
  }

  .record {
    @apply bg-white rounded-md flex flex-col gap-1 overflow-hidden py-3;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: box-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1),
      transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .record:hover {
    box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 8px, rgba(0, 0, 0, 0.2) 0px 13px 26px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transform: translateY(-3px);
  }
</style>
