---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import {getUniqueArticles} from '../data/forem';
import {getVideos} from '../data/youtube';
import {getPodcast} from '../data/podcast';
import {getNews} from '../data/revue';
import Articles from '../components/Articles.astro';
import Section from '../components/Section.astro';
import ButtonLink from '../components/ButtonLink.astro';
import News from '../components/News.astro';
import Podcasts from '../components/Podcasts.astro';

const articles = await getUniqueArticles();
const news = await getNews();
const episodes = await getPodcast();
const videos = await getVideos();
---

<Layout title="Sergey Sova">
  <main>
    <h1 class="text-5xl">My name is <span class="text-gradient">Sergey Sova</span></h1>
    <Section title="Articles">
      <Articles
        articles={articles.map((source) => ({
          title: source.title,
          url: source.url,
          description: source.description,
          cover: source.cover_image,
        }))}
      />
      <ButtonLink text="Dev.to" href="https://dev.to/sergeysova" />
      <ButtonLink text="Effector Community" href="https://community.effector.dev/sergeysova" />
    </Section>

    <Section title="News">
      <News news={news} />
      <ButtonLink text="Read all" href="https://news.sova.dev" />
    </Section>

    <Section title="Podcast">
      <Podcasts episodes={episodes} />
      <ButtonLink text="Listen all" href="https://podcast.ru/1586738556/e" />
    </Section>

    <h2 class="text-3xl mt-10 mb-2">Youtube</h2>
    <ul role="list" class="link-card-grid">
      {
        videos.map((video) => (
          <Card href={video.url} title={video.title} body={video.description} />
        ))
      }
    </ul>
    <a
      class="inline-block mt-3 rounded border-2 border-violet-200 transition button"
      href="https://www.youtube.com/sergeysova"
      target="_blank"
      rel="noopener"
      ><span class="py-3 px-5">Show all videos</span>
    </a>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 70ch;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }

  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }

  .button {
    background-image: linear-gradient(45deg, #4f39fa, #da62c4 30%, var(--color-border) 60%);
    background-size: 400%;
    background-position: 100%;
    transition: background-position 0.6s cubic-bezier(0.22, 1, 0.36, 1);
    position: relative;
    overflow: hidden;
  }

  .button span {
    display: block;
    background-color: rgba(255, 255, 255, 0.9);
    transition: background-color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .button:is(:hover, :focus-within) {
    background-position: 0;
  }

  .button:is(:hover, :focus-within) span {
    background-color: rgba(255, 255, 255, 0.3);
  }
</style>
