---
import Layout from '../layouts/Layout.astro';
import {getUniqueArticles} from '../data/forem';
import {getVideos} from '../data/youtube';
import {getPodcast} from '../data/podcast';
import {getNews} from '../data/revue';

import Articles from '../components/Articles.astro';
import Section from '../components/Section.astro';
import ButtonLink from '../components/ButtonLink.astro';
import News from '../components/News.astro';
import Podcasts from '../components/Podcasts.astro';
import Videos from '../components/Videos.astro';

const articles = await getUniqueArticles();
const news = await getNews();
const episodes = await getPodcast();
const videos = await getVideos();
---

<Layout title="Sergey Sova">
  <main>
    <div class="about">
      <h1 class="text-5xl">My name is <span class="text-gradient">Sergey Sova</span></h1>
      <p>
        I had made a bunch of packages for the effector ecosystem: patronum, logger, inspector, etc.
        I'm consulting people and companies for frontend architecture principles and React
        optimizations. I made a podcast on Russian, Twitter, and Telegram with 3K subscribers in
        total.
      </p>
    </div>
    <Section title="Articles">
      <Articles
        articles={articles.map((source) => ({
          title: source.title,
          url: source.url,
          description: source.description,
          cover: source.cover_image,
        }))}
      />
      <ButtonLink text="Dev.to" href="https://dev.to/sergeysova" />
      <ButtonLink text="Effector Community" href="https://community.effector.dev/sergeysova" />
    </Section>

    <Section title="News">
      <News news={news} />
      <ButtonLink text="Read all" href="https://news.sova.dev" />
    </Section>

    <Section title="Podcast">
      <Podcasts episodes={episodes} />
      <ButtonLink text="Listen all" href="https://podcast.ru/1586738556/e" />
    </Section>

    <Section title="Youtube">
      <Videos videos={videos} />
      <ButtonLink text="View all" href="https://www.youtube.com/sergeysova" />
    </Section>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 70ch;
    @apply flex flex-col gap-10;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
