---
import AssetArticles from '../assets/articles.svg';
import AssetNews from '../assets/news.svg';
import AssetPodcast from '../assets/podcast.svg';
import AssetYoutube from '../assets/youtube.svg';

import Layout from '../layouts/Layout.astro';

import Articles from '../components/Articles.astro';
import Section from '../components/Section.astro';
import ButtonLink from '../components/ButtonLink.astro';
import News from '../components/News.astro';
import Podcasts from '../components/Podcasts.astro';
import Videos from '../components/Videos.astro';

import {getUniqueArticles} from '../data/forem';
import {getVideos} from '../data/youtube';
import {getEpisodes} from '../data/podcast';
import {getNews} from '../data/revue';
import {getPages} from '../data/markdown';

const COUNT_OF_CONTENT = 6;

const [forem, pages, videos, episodes, news] = await Promise.all([
  getUniqueArticles(),
  getPages(),
  getVideos(),
  getEpisodes(),
  getNews(),
]);

const articles = [...forem, ...pages]
  .sort((a, b) => new Date(b.published_at).valueOf() - new Date(a.published_at).valueOf())
  .slice(0, COUNT_OF_CONTENT);
---

<Layout title="Sergey Sova">
  <main>
    <div class="about">
      <h1 class="text-5xl">My name is <span class="text-gradient">Sergey Sova</span></h1>
      <p>
        I had made a bunch of packages for the effector ecosystem: patronum, logger, inspector, etc.
        I'm consulting people and companies for frontend architecture principles and React
        optimizations. I made a podcast on Russian, Twitter, and Telegram with 3K subscribers in
        total.
      </p>
    </div>
    <Section titleImage={AssetArticles}>
      <Articles
        articles={articles.map((source) => ({
          title: source.title,
          url: source.url,
          description: source.description,
          cover: source.cover_image,
          published_at: source.published_at,
        }))}
      />
      <ButtonLink text="Dev.to" href="https://dev.to/sergeysova" />
      <ButtonLink text="Effector Community" href="https://community.effector.dev/sergeysova" />
    </Section>

    <Section titleImage={AssetNews}>
      <News news={news.slice(0, COUNT_OF_CONTENT)} />
      <ButtonLink text="Read all" href="https://news.sova.dev" />
    </Section>

    <Section titleImage={AssetPodcast}>
      <Podcasts episodes={episodes.slice(0, COUNT_OF_CONTENT)} />
      <ButtonLink text="Listen all" href="https://podcast.ru/1586738556/e" />
    </Section>

    <Section titleImage={AssetYoutube}>
      <Videos videos={videos.slice(0, COUNT_OF_CONTENT)} />
      <ButtonLink text="View all" href="https://www.youtube.com/sergeysova" />
    </Section>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 70ch;
    @apply flex flex-col gap-10;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
