---
import AssetArticles from '../assets/articles.svg';
import AssetNews from '../assets/news.svg';
import AssetPodcast from '../assets/podcast.svg';
import AssetYoutube from '../assets/youtube.svg';

import Layout from '../layouts/Layout.astro';

import Articles from '../components/Articles.astro';
import Section from '../components/Section.astro';
import ButtonLink from '../components/ButtonLink.astro';
import News from '../components/News.astro';
import Podcasts from '../components/Podcasts.astro';
import Videos from '../components/Videos.astro';
import IfLang from '../components/IfLang.astro';

import {getUniqueArticles} from '../data/forem';
import {getVideos} from '../data/youtube';
import {getEpisodes} from '../data/podcast';
import {getNews} from '../data/revue';
import {getPages} from '../data/markdown';
import {switchLang} from '../lib/language';

const COUNT_OF_CONTENT = 6;

const [forem, pages, videos, episodes, news] = await Promise.all([
  getUniqueArticles(),
  getPages(),
  getVideos(),
  getEpisodes(),
  getNews(),
]);

const articles = [...forem, ...pages]
  .sort((a, b) => new Date(b.published_at).valueOf() - new Date(a.published_at).valueOf())
  .slice(0, COUNT_OF_CONTENT);
---

<Layout
  path="/"
  description={switchLang({
    en: "I'm open source developer, podcaster, effector contributor.",
    ru: 'Я участник команды разработчиков effector, подкастер и frontend архитектор.',
  })}
>
  <main>
    <div class="about">
      <h1 class="text-5xl">
        <IfLang equals="ru">Привет, я</IfLang>
        <IfLang equals="en">My name is</IfLang>
        <span class="text-gradient">{switchLang({ru: 'Сергей Сова', en: 'Sergey Sova'})}</span>
      </h1>
      <p>
        <IfLang equals="en">
          I had made a bunch of packages for the effector ecosystem: <a
            href="https://github.com/effector/patronum"
            rel="noopener"
            target="_blank">patronum</a
          >, <a href="https://github.com/effector/logger" rel="noopener" target="_blank">logger</a>,
          <a href="https://github.com/effector/inspector" rel="noopener" target="_blank"
            >inspector</a
          >, etc. I'm consulting people and companies for front-end architecture principles and
          React optimizations. I made a podcast on Russian, made <a
            href="https://twitter.com/_sergeysova"
            rel="noopener"
            target="_blank">Twitter</a
          >, and <a href="https://t.me/sergeysova" rel="noopener" target="_blank">Telegram</a> with 3K
          subscribers in total.
        </IfLang>
        <IfLang equals="ru">
          Я сделал несколько пакетов для экосистемы effector: <a
            href="https://github.com/effector/patronum"
            rel="noopener"
            target="_blank">patronum</a
          >, <a href="https://github.com/effector/logger" rel="noopener" target="_blank">logger</a>,
          <a href="https://github.com/effector/inspector" rel="noopener" target="_blank"
            >inspector</a
          > и т.д. Я консультирую людей и компании по принципам архитектуры frontend и React оптимизации.
          Я сделал подкаст на русском, собрал в <a
            href="https://twitter.com/_sergeysova"
            rel="noopener"
            target="_blank">Twitter</a
          > и <a href="https://t.me/sergeysova" rel="noopener" target="_blank">Telegram</a> около 3 тыс.
          подписчиков.
        </IfLang>
      </p>
    </div>
    <Section titleImage={AssetArticles}>
      <Articles
        articles={articles.map((source) => ({
          title: source.title,
          url: source.url,
          description: source.description,
          cover: source.cover_image,
          published_at: source.published_at,
        }))}
      />
      <ButtonLink text="Dev.to" href="https://dev.to/sergeysova" />
      <ButtonLink text="Effector Community" href="https://community.effector.dev/sergeysova" />
    </Section>

    <Section titleImage={AssetNews}>
      <News news={news.slice(0, COUNT_OF_CONTENT)} />
      <ButtonLink
        text={switchLang({ru: 'Прочесть все', en: 'Read all'})}
        href="https://news.sova.dev"
      />
    </Section>

    <Section titleImage={AssetPodcast}>
      <Podcasts episodes={episodes.slice(0, COUNT_OF_CONTENT)} />
      <ButtonLink
        text={switchLang({ru: 'Прослушать все', en: 'Listen all'})}
        href="https://podcast.ru/1586738556/e"
      />
    </Section>

    <Section titleImage={AssetYoutube}>
      <Videos videos={videos.slice(0, COUNT_OF_CONTENT)} />
      <ButtonLink
        text={switchLang({ru: 'Посмотреть все', en: 'View all'})}
        href="https://www.youtube.com/sergeysova"
      />
    </Section>
  </main>
</Layout>

<style>
  :root {
    --astro-gradient: linear-gradient(0deg, #4f39fa, #da62c4);
  }

  h1 {
    margin: 2rem 0;
  }

  main {
    margin: auto;
    padding: 1em;
    max-width: 70ch;
    @apply flex flex-col gap-10;
  }

  main .about p a {
    @apply text-sky-600 underline;
  }
  main .about p a:hover {
    @apply text-sky-600 no-underline;
  }

  .text-gradient {
    font-weight: 900;
    background-image: var(--astro-gradient);
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 100% 200%;
    background-position-y: 100%;
    border-radius: 0.4rem;
    animation: pulse 4s ease-in-out infinite;
  }

  @keyframes pulse {
    0%,
    100% {
      background-position-y: 0%;
    }
    50% {
      background-position-y: 80%;
    }
  }
</style>
