---
export interface Article {
  title: string;
  url: string;
  description: string;
  cover: string | null;
  emoji?: string;
  published_at: string;
}

export interface Props {
  articles: Article[];
}

const {articles} = Astro.props;
---

<ul class="list">
  {
    articles.map((article) => (
      <li class="article">
        <a href={article.url} rel="noopener">
          <div
            class:list={['cover', {empty: !article.cover}]}
            style={article.cover ? `background-image: url(${article.cover})` : ''}
          />
          <span class="title">{article.title}</span>
          <p class="description">{article.description}</p>
        </a>
      </li>
    ))
  }
</ul>

<style>
  .list {
    display: grid;
    gap: 1rem;
    padding: 0;
  }

  @media (min-width: 560px) {
    .list {
      grid-template-columns: repeat(auto-fit, minmax(28ch, 1fr));
    }
  }

  @media (max-width: 559px) {
    .article:nth-child(n + 4) {
      display: none;
    }
  }

  .article {
    @apply bg-white rounded-md flex flex-col gap-1 overflow-hidden;

    box-shadow: var(--shadow-inset), var(--shadow-elevation);
    transition: box-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1),
      transform 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .article:hover {
    box-shadow: var(--shadow-inset), var(--shadow-elevation-hover);
    transform: translateY(-3px);
  }

  .article .cover {
    @apply block bg-cover bg-center;
    aspect-ratio: 2.5;
  }

  .article .cover.empty {
    background-image: linear-gradient(45deg, #4f39fa, #da62c4 30%, #cffafe 60%);
    background-size: 400%;
    background-position: 50%;
  }

  .article .title {
    @apply block px-4 py-2 font-light text-2xl;
  }

  .article .description {
    @apply px-4 py-3 text-lg;
  }
</style>
