---
import type {YoutubeVideo} from '../data/youtube';

export interface Props {
  videos: YoutubeVideo[];
}

const {videos} = Astro.props;
---

<ul class="list">
  {
    videos.map((video) => (
      <li class="video">
        <a href={video.url} target="_blank" rel="noopener">
          <div class="cover" style={`background-image: url(${video.thumbnails.standard.url})`}>
            <div class="blind">
              <h3>{video.title}</h3>
            </div>
          </div>
        </a>
      </li>
    ))
  }
</ul>

<style>
  .list {
    display: grid;
    gap: 1rem;
    padding: 0;
  }

  @media (min-width: 560px) {
    .list {
      grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    }
  }

  @media (max-width: 559px) {
    .video:nth-child(n + 4) {
      display: none;
    }
  }

  .video {
    @apply bg-white rounded-md flex flex-col gap-1 overflow-hidden;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    transition: box-shadow 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .video:hover {
    box-shadow: rgba(91, 33, 182, 0.2) 0px 8px 8px, rgba(91, 33, 182, 0.2) 0px 13px 26px -3px,
      rgba(91, 33, 182, 0.2) 0px -3px 5px inset;
  }

  .video .cover {
    @apply bg-cover bg-center relative flex flex-col justify-end;
    aspect-ratio: 1.7;
    background-size: 115%;
  }

  .video .cover .blind {
    @apply font-light backdrop-blur-xl bg-black/30;
  }

  .video .cover h3 {
    @apply text-white block px-4 py-1 w-full;
  }
</style>
