---
import {switchLang} from '../lib/language';

export interface Props {
  title?: string;
  path: string;
  description?: string;
  type?: 'website' | 'article' | 'profile';
  image?: string;
  locale?: 'ru' | 'en';
}

const siteName = switchLang({
  ru: 'Сергей Сова',
  en: 'Sergey Sova',
});
const {
  title,
  path,
  description,
  type = 'website',
  image,
  locale = import.meta.env.PUBLIC_LANGUAGE,
} = Astro.props;
const realLocale = locale === 'ru' ? 'ru_RU' : 'en_US';
---

<!DOCTYPE html>
<html lang={locale} prefix="og: https://ogp.me/ns#">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.png" />
    <title>{title ? `${title} · ${siteName}` : siteName}</title>
    {type !== 'website' ? <meta property="og:site_name" content={siteName} /> : null}
    <meta property="og:title" content={title} />
    {description ? <meta property="og:description" content={description} /> : null}
    {image ? <meta property="og:image" content={image} /> : null}
    <meta content="og:locale" content={realLocale} />
    <meta property="og:url" content={`${import.meta.env.PUBLIC_SITE}${path}`} />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-67236238-5"></script>
    <script type="application/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-67236238-5');
    </script>
  </head>
  <body>
    <slot />
    <style>
      :root {
        --font-size-base: clamp(1rem, 0.34vw + 0.91rem, 1.19rem);
        --font-size-lg: clamp(1.2rem, 0.7vw + 1.2rem, 1.5rem);
        --font-size-xl: clamp(2.44rem, 2.38vw + 1.85rem, 3.75rem);

        --color-text: hsl(12, 5%, 4%);
        --color-bg: hsl(10, 21%, 95%);
        --color-border: hsl(17, 24%, 90%);
      }

      html {
        font-family: system-ui, sans-serif;
        font-size: var(--font-size-base);
        color: var(--color-text);
        background-color: var(--color-bg);
      }

      body {
        margin: 0;
      }
    </style>

    <style is:global>
      code {
        font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
          Bitstream Vera Sans Mono, Courier New, monospace;
      }
    </style>
  </body>
</html>
